<head>
    <title>Create an Invoice</title>
</head>
<h1>Create an Invoice</h1>
{% block page_content %}
{% if customers != [] %}
<form action="{{ url_for('create_an_invoice') }}" method=post align="center">
    <select name="customer_company_name">
        {% for customer in customers %}
        <option value="{{ customer.company_name }}">{{ customer.company_name }}</option>
        {% endfor %}
    </select>
    <b>Number of Units in Stock: {{ inventory_sell.complete_units }}</b>
    <p>Number of Units to Invoice</p>
    <input type=text size=30 name=number_of_units_to_invoice placeholder="">
    <p>Date (YYYYMMDD)</p>
    <input type=text size=30 name=date placeholder="">
    <div>
        <input type="submit" value="OK">
        <a href="/main_menu"> <input type="button" value="Cancel"></a>
    </div>
</form>
{% else %}
<a href="/main_menu"> <input type="button" value="Back to Main Menu"></a>
<h2 align="center"><strong>Oops! You have no customers!</strong></h2>
{% endif %}
{% endblock %}