<!DOCTYPE html>
<html>

<head>
    <title>Main Menu</title>
    <style>
        input {
            margin: 50px;
            width: 200px;
            height: 50px;
        }
    </style>
</head>

<body>
    <div style="text-align: center; max-width: 80%; margin: 0 auto">
        <h1>Main Menu</h1>
        <div>
            <a href="/view_employees"> <input type="button" value="View Employees"></a>
            <a href="/view_customers"> <input type="button" value="View Customers"></a>
            <a href="/view_vendors"> <input type="button" value="View Vendors"></a>
        </div>
        <div>
            <a href="/add_an_employee"> <input type="button" value="Add an Employee"></a>
            <a href="/add_a_customer"> <input type="button" value="Add a Customer"></a>
            <a href="/add_a_vendor"> <input type="button" value="Add a Vendor"></a>
        </div>
        <div>
            <a href="/pay_an_employee"> <input type="button" value="Pay an Employee"></a>
            <a href="/view_payroll_events"> <input type="button" value="View Payroll Events"></a>
        </div>
        <div>
            <a href="/view_inventory"> <input type="button" value="View Inventory"></a>
        </div>
        <div>
            <a href="/create_an_invoice"> <input type="button" value="Create an Invoice"></a>
            <a href="/view_invoices"> <input type="button" value="View Invoices"></a>
        </div>
        <div>
            <a href="/create_a_purchase_order"> <input type="button" value="Create a Purchase Order"></a>
            <a href="/view_purchase_orders"> <input type="button" value="View Purchase Orders"></a>
        </div>
        <div>
            <a href="/view_balance_sheet"> <input type="button" value="View Balance Sheet"></a>
            <a href="/view_income_statement"> <input type="button" value="View Income Statement"></a>
        </div>

    </div>

</body>

</html>